/* ...
*= require_self
*= require_tree .
*= require bootstrap-datetimepicker
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

h1 {
  margin: 20px 0 !important;
}

a:hover {
  background-color: transparent;
}

@mixin header-button($color) {
  background: $color;
  border-radius: 10px;
  -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
}

.navbar {
  background-color: #7FDBFF;
  ul {
    display:inline-block;
    list-style:none;
    margin: 0;
    margin-left: 20px;

    li {
      float: left;
      margin: 15px 5px;

      a {
        color: #fff;
        text-decoration: none;
        line-height:25px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 12px 15px;
        font-weight: bold;
        font-size: 15px;
      }
    }
    li:first-child a {
      color: #F8F8F8;
      @include header-button(#FFD700)
    }
    li:nth-child(2) a {
      @include header-button(#67BCDB);
    }
    li:nth-child(3) a {
      @include header-button(#CBE32D);
    }
    li:nth-child(4) a {
      @include header-button(#E44424);
    }
    li:nth-child(5) a {
      @include header-button(#FF9008);
    }
    li:nth-child(6) a {
      @include header-button(#a8cd1b);
    }

    a:hover {
      opacity: 0.8;
    }
  }
}
#content {
  min-height:500px;
  margin-bottom: 50px
}
.form-group {
  max-width:300px;
}

#footer {
  border-top: 1px solid #000;
  text-transform: uppercase;
  text-align:center;
}
